
// Change <ol class="bibliography"> to not display the numbers. 
ol.bibliography {
  list-style: none;
  counter-reset: bibliography;
  margin-left: 0;
  padding-left: 0;
}

// Increase spacing around list items.
ol.bibliography li {
  margin-bottom: 1rem;
}

.page-title {
  @include fluid-type($min-vw, $max-vw, 28px, 40px);
}

// ol.bibliography a.details {
//   margin-left: 0.5rem;
// }