
// Change <ol class="bibliography"> to not display the numbers. 
ol.bibliography {
  list-style: none;
  counter-reset: bibliography;
  margin-left: 0;
  padding-left: 0;
}

// Increase spacing around list items.
ol.bibliography li {
  margin-bottom: 1rem;
}